html * {
    font-family: "Helvetica Neue", sans-serif;
!important;
}

a * {
    text-decoration: none;
!important;
}

.default-cursor {
    cursor: default;
}

.reportrange {
    background: #fff;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
}

.nav-tabs .nav-item .nav-link.active {
    background: transparent;
    border: 0;
    border-bottom: 2px solid rgb(144, 218, 258);
}

.fade {
    transition: opacity 0.5s linear !important;
}

.overlay {
    background-color: rgb(250, 250, 251);
}

.redText {
    color: red;
}

ul {
    list-style-type: none;
}

div a {
    color: #212529;
}

th a {
    color: black;
}

th a:hover {
    color: black;
}

tr.selected {
    background-color: rgb(222, 235, 255);
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    align-content: center;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}