<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Content</title>
</head>
<body>
    <!--/*@thymesVar id="executionTimes" type="java.util.List<com.adproject.utils.ExecutionTime>"*/-->
    <div id="content" class="container-fluid" th:fragment="contentFragment(executionTimes)">
        <div th:if="${executionTimes} != null">
            <div class="row">
                <div class="col-12 p-0">
                    <table class="table table-hover pb-0 mb-0">
                        <thead style="background-color: rgba(122, 219, 255, 0.3)">
                        <tr>
                            <th scope="col">
                            </th>
                            <th scope="col">
                                MongoDB
                            </th>
                            <th scope="col">
                                DynamoDB
                            </th>
                            <th scope="col">
                                MySQL
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Java execution time</td>
                                <td th:text="${executionTimes.get(0).getJavaExecutionTime() / 1000.0} + ' s'">0</td>
                                <td th:text="${executionTimes.get(1).getJavaExecutionTime() / 1000.0} + ' s'">0</td>
                                <td th:text="${executionTimes.get(2).getJavaExecutionTime() / 1000.0} + ' s'">0</td>
                            </tr>
                            <tr>
                                <td>Database execution time</td>
                                <td th:text="${executionTimes.get(0).getDatabaseExecutionTime() / 1000.0} + ' s'">0</td>
                                <td th:text="${executionTimes.get(1).getDatabaseExecutionTime() / 1000.0} + ' s'">0</td>
                                <td th:text="${executionTimes.get(2).getDatabaseExecutionTime() / 1000.0} + ' s'">0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div th:unless="${executionTimes} != null">
            Please select from the table.
        </div>
    </div>
</body>
</html>